.msg-container {
    width: 60%;
    height: 100vh;
    position: absolute;
    left: 20%;
    scale: 0.985;
    border-radius: 10px;
    background-color: #1a1b1f
}

.usr-container {
    width: 20%;
    height: 100vh;
    position: absolute;
    left: 0;
    scale: 0.985;
    border-radius: 10px;
    background-color: #1a1b1f
}

.msc-container {
    width: 20%;
    height: 100vh;
    position: absolute;
    left: 80%;
    scale: 0.985;
    border-radius: 10px;
    background-color: #1a1b1f
}

.inner-container-msg {
    min-height: 100%;
    scale: 0.995;
    border-radius: 10px;
}

.inner-container-usr {
    min-height: 100%;
    scale: 0.99;
    border-radius: 10px;
}

.inner-container-msc {
    min-height: 100%;
    scale: 0.99;
    border-radius: 10px;
}