.msg-container {
    width: 60%;
    height: 100vh;
    position: absolute;
    left: 20%;
    scale: 0.985;
    border-radius: 10px;
    background-color: #1a1b1f
}

.usr-container {
    width: 20%;
    height: 100vh;
    position: absolute;
    left: 0;
    scale: 0.985;
    border-radius: 10px;
    background-color: #1a1b1f
}

.msc-container {
    width: 20%;
    height: 100vh;
    position: absolute;
    left: 80%;
    scale: 0.985;
    border-radius: 10px;
    background-color: #1a1b1f
}

.inner-container-msg {
    min-height: 100%;
    scale: 0.995;
    border-radius: 10px;
}

.inner-container-usr {
    min-height: 100%;
    scale: 0.99;
    border-radius: 10px;
}

.inner-container-msc {
    min-height: 100%;
    scale: 0.99;
    border-radius: 10px;
}

.usr-row {
    width: 100%;
    scale: 0.99;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.msc-row {
    width: 100%;
    scale: 0.99;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.msg-row {
    width: 100%;
    scale: 0.99;
    height: 92vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.usr-card {
    width: 98%;
    height: 5rem;
    margin-bottom: 10px;
    background-color: #1a1b1f;
}

.msc-card {
    width: 98%;
    max-height: 80%;
    background-color: #1a1b1f;
}

.img {
    max-width: 100%;
    max-height: 80%;
}

.profile-img {
    max-width: 40%;
    height: 100%;
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-menu {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    left: 80%;
    font-size: larger;
}

.profile-username {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    left: 40%;
    font-size: larger;
}

.time {
    font-size: larger;
}

.profile {
    background-color: #1a1b1f;
    height: 10%;
    width: 98%;
    margin-top: 10px;
}

.message {
    padding: 5px;
    border-radius: 10px;
    background-color: #1a1b1f;
    width: min-content;
    height: min-content;
}

.sent {
    width: 100%;
    height: min-content;
    border-color: transparent transparent transparent transparent;
    background-color: transparent;
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

.received {
    width: 100%;
    height: min-content;
    border-color: transparent transparent transparent transparent;
    background-color: transparent;
    margin-top: 10px;
    display: flex;
    justify-content: left;
}

.input-label {
    width: 100%;
    height: 7vh;
    position: absolute;
    bottom: 10px;
}

.input-text {
    width: 80%;
    height: 70%;
    text-align: left;
    position: absolute;
    left: 5%;
    bottom: 15%;
    background-color: #1a1b1f;
    border-radius: 10px;
    border-color: transparent transparent transparent transparent;
}

.input-button {
    width: 8%;
    height: 70%;
    background-color: #1a1b1f;
    border-radius: 10px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    bottom: 15%;
    left: 86%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #1a1b1f;
    border-radius: 100px;
}
